.pytest_cache/
.ruff_cache/
.mypy_cache/
.idea/
.python-version
.vscode
.coverage


# Electron & Packaging
node_modules/
dist/
build/
desktop/bin/
*.spec
.DS_Store
build.log
appimagetool-x86_64.AppImage

# user settings
user/
debug/

# Virtual Environment
venv/
.venv

__pycache__
VERSION
TODO.md
CLAUDE.md
GEMINI.md
PLAN.md
*.egg-info/
