.pytest_cache/
.ruff_cache/
.mypy_cache/
.idea/
.python-version
.vscode
.coverage


# Electron & Packaging
node_modules/
dist/
build/
desktop/bin/
*.spec
.DS_Store
build.log
appimagetool-x86_64.AppImage

# user settings
user/
debug/

# Virtual Environment
venv/
.venv
*.egg-info/

__pycache__
VERSION
# metrics artifacts
metrics.json
# llm stuff
TODO.md
CLAUDE.md
GEMINI.md
PLAN.md
plans/
.superpowers/
*superpowers
.serena/

# debug stuff
samples/
